#top-bar {
  background-color: coral;
  width: 1200px;
  height: 50px
  padding: 20px;
  margin-left: 20px;
}

#myCanvas {
  background-color: gray;
  margin: 0 0 0 20px;
}

#letters {
  margin: 10px 0 10px 20px;
}
